.App {
  text-align: center;
}

/* NAV */
.nav-container {
  list-style: none;
  background: gray;
  /* position: fixed; */
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.nav-item {
  border: 1px white solid;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: transform 0.2s;
}

.nav-item:hover {
  transform: scale(1.4);
}

.nav-toggle {
  width: 50px;
  height: 50px;
  display: none;
}

.nav-menu {
  position: absolute;
  display: none;
  width: 100px;
  margin: 9em 0 0 -3em;
  text-align: center;
  opacity: 0.5;
  list-style-type: none;
}

.nav-menu li {
  padding: 15px 0;
  font-size: 20px;
  border: 1px black solid;
  margin: 2px 0;
}

input {
  display: block;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: -0.5px;
  z-index: 2;
}

input[type='checkbox']:checked ~ .nav-menu {
  display: flex;
}

.nav-hamburger {
  height: 2px;
  width: 35px;
  border: 1px black solid;
  background: black;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1024px) {
  .nav-item {
    display: none;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80vw;
  }
  .nav-container {
    background-color: rgba(255, 255, 255, 0);
  }
  ul {
    display: flex;
    flex-direction: column;
  }
}

/* HEADER */
