.App {
  display: flex;
  flex-direction: column;
}

/* NAV */
.nav-container {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.nav-item {
  border: 1px white solid;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: transform 0.2s;
}

.nav-item:hover {
  transform: scale(1.4);
}

.nav-toggle {
  width: 50px;
  height: 50px;
  display: none;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 5%;
}

.nav-menu {
  position: absolute;
  display: none;
  width: 100px;
  margin: 8em 0 0 -5.5em;
  text-align: center;
  opacity: 0.5;
  list-style-type: none;
}

.nav-menu li {
  padding: 10px 0;
  font-size: 20px;
  border: 1px black solid;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* hides checkbox uses to show menu inside hamburger */
input {
  display: block;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: -0.5px;
  z-index: 2;
}

input[type='checkbox']:checked ~ .nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-hamburger {
  height: 5px;
  width: 50px;
  border: 1px black solid;
  background: black;
  opacity: 0.6;
  border-radius: 5px;
  margin-bottom: 7px;
}

@media only screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
  /* shows hamburger */
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-container {
    display: none;
  }
}

/* HEADER */

.header-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('./img/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-container h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
  font-size: 4rem;
}

.header-container p {
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: left;
  color: white;
}

/* ABOUT */

.about-container {
  margin-top: 80vh;
  background-color: rgba(255, 255, 255, 1);
  padding: 60px 60px;
  height: 100vh;
  z-index: 1;
}
